nav {
  opacity: .6;
}

#Home {
  background-image: url("/Images/Portfolio Home Picture-min.jpeg");
  background-size: cover ;
  background-position: center center;
  height: 100vh;
}

#Home .text-center {
  font-size: 5em;
  color: #6a8fad;
  font-family: "Permanent Marker", cursive;
  margin-bottom: 1vh;
}

#About {
background-image: url("/Images/Portfolio About Page-min.jpeg");
  background-size: cover ;
  background-position: center center;
  height: 100vh;
  display: flex;
}

#About article {
  font-size: 2.9em;
  color: #000000;
  margin-top: 60vh;
  font-family: 'Amatic SC', cursive;
}

#Portfolio {
  background-image: url("/Images/Portfolio Page-min.jpeg");
  background-size: cover;
  background-position: center center;
  height: 100vh;

}

#Portfolio h2 {
  padding-top: 50px;
  font-size: 1.8em;
  color:#000000;

}

#Portfolio img {
  max-height: 40vh;
  margin-bottom: 5vh;
}

#Contact {
  background-image: url("/Images/Portfolio Contact Page-min.jpeg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#Contact div {
  padding-top: 15vh;
}

#Contact .btn {
  margin:2vh;
}
