nav {
  opacity: .66;
}

.navbar button {
  margin-left: .75vw;
  margin-right: .75vw;
}

#Home {
  background-image:url("https://raw.githubusercontent.com/breatheloud/breatheloud.github.io/master/Images/Portfolio%20Home%20Picture-min.jpeg");
  background-size: cover ;
  background-position: center center;
  height: 100vh;
}

#Home h1 {
  font-size: 4.5em;
  color: #6a8fad;
  font-family: "Permanent Marker", cursive;
  font-weight:  100;
  margin-bottom: 1vh;
}

#About {
background-image: url("https://breatheloud.github.io/Images/Portfolio%20About%20Page-min.jpeg");
  background-size: cover ;
  background-position: center center;
  height: 100vh;
  display: flex;
}

#About article {
  font-size: 3em;
  color: #000000;
  margin-top: 40vh;
  font-family: 'Amatic SC', cursive;
}

#Portfolio {
  background-image: url("https://breatheloud.github.io/Images/Portfolio%20Page-min.jpeg");
  background-size: cover;
  background-position: center center;
  height: 100vh;

}

#Portfolio h2 {
  padding: 50px;
  font-size: 2.8em;
  color:#000000;

}

#Portfolio img {
  max-width: 25vw;
  margin-bottom: 5vh;
}

#Portfolio figcaption {
  font-size: 1.2em;
}

#Contact {
  background-image: url("https://breatheloud.github.io/Images/Portfolio%20Contact%20Page-min.jpeg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#Contact div {
  padding-top: 13vh;
}

#Contact .btn {
  margin: 3.5vw;
  font-size: 1.25em;
  text-align: inherit;
}
