body {
  margin: 0;
}
/* #top-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 2.5vw 0 2.5vw;
} */

h1 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 300;
  text-shadow: 1px 1px 3px grey;
  color: #000;
  margin-right: 5vw;
}

h2 {
  text-align: left;
  font-family: 'Comfortaa', sans-serif;
  color: #39342D;
  margin: 1em;
}

#hero-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  background-image: url("images/Tube_Waiting.jpg");
  background-size:cover;
  background-position: left top;

  height: 50vh;
  width: 100vw;
}

@media screen and (min-width: 800px){
  #hero-banner {
    height: 75vh;
  }
}
@media screen and (min-width: 1080px){
  #hero-banner {
    height: 90vh;
  }
}

p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #39342D;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 65vw;
  background-image: linear-gradient(#7d7d7f, #fff);
}

.projects a {
  padding: 0;
}

.projects img {
  width: 33.33vw;
  height: 100%;
}

.projects img:hover {
  opacity: .7;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 600px) {
  .projects {
    max-height: 150vw;
  }
  .projects img {
    width: 50vw;
  }
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background: rgba(0,0,0, .3);
  transition: opacity .25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 50%;
  overflow: auto;
  background: #f0f0f0;
  border-radius: 5px;
  padding: 1em 2em;
  height: 50%;
  color: #303030;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__inner h2 {
  color: white;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {

  .modal__inner {
    width: 80%;
    height: 65%;
    box-sizing: border-box;
  }
}

.modal-btn {
  cursor: pointer;
  background: #77b6dd;
  display: inline-block;
  padding: .8em 1.9em;
  color: #000;
  border: solid #232112 1px;
  font-size: .8em;
  font-weight: bold;
}

 .modal-btn:hover,
.modal-btn:focus {
  background: #77b6dd;
  border: solid #77b6dd 1px;
}

.modal-btn:active {
  background: linear-gradient(to left, #77b6dd 0%, #232112 100%);
  box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}

.modal-activation {
  display: flex;
  justify-content: center;
}


#filler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

h3 {
  font-family: 'Comfortaa', sans-serif;
  color: #39342D;
  text-align: left;
  margin: 1em;
}

.shopify-line {
  margin-top: 2em;
  font-family: 'Open Sans', sans-serif;
  color: #39342D;
  text-align: center;
}

.shopify-logo {
  height: 1.2em;
}

#footer {
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #e2d0bb;
  height: 7.5vh;
  padding: 0 4vw;
}

#footer p {
  font-family: 'Comfortaa', monospace;
  color: #4c66a8;
  font-size: .9em;
}

.contact-icon {
  height: 1.75em;
  width: 1.75em;
}
