@font-face {
  font-family: 'Open Sans Light';
  src: url('fonts/open-sans-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-300.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url('fonts/open-sans-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-700.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}
@font-face {
  font-family: 'Comfortaa';
  src: url('fonts/comfortaa-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/comfortaa-regular.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: normal;
  text-shadow: 1px 1px 3px grey;
  color: #000;
  margin-right: 5vw;
}

h2 {
  text-align: left;
  font-family: 'Comfortaa', sans-serif;
  color: #39342D;
  margin: 1em;
  font-weight: 700;
}

#hero-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  background-image: url("Images/Tube_Waiting.jpg");
  background-size:cover;
  background-position: left center;

  height: 50vh;
  width: 100vw;
}

@media screen and (min-width: 800px){
  #hero-banner {
    height: 75vh;
  }
}
@media screen and (min-width: 1080px){
  #hero-banner {
    height: 90vh;
  }
}

p {
  text-align: center;
  font-family: "Open Sans Light", sans-serif;
  color: #39342D;
  font-size: 20px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 65vw;
  background-image: linear-gradient(#7d7d7f, #fff);
}

.projects img {
  width: 33.33vw;
  height: 100%;
  margin-bottom: -5px;
}

.projects img:hover {
  opacity: .7;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 600px) {
  .projects {
    max-height: 150vw;
  }
  .projects img {
    width: 50vw;
  }
}

/* The Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(31,31,31); /* Fallback color */
  background-color: rgba(31,31,31,0.75); /* Black w/ opacity */
}

#modal-header {
  padding: 2px 16px;
}

#project-title {
  font-family: 'Open Sans Bold', sans-serif;
  color: #4c66a8;
  text-align: center;
  margin: 1.2em;
  font-size: 1.5rem;
}

.modal-body {
  padding: 2px 16px;
  font-family: "Open Sans Light", sans-serif;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 10vh auto 0 auto;
  padding: 0;
  width: 66.6%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.33s;
}

@media screen and (min-width: 600px) and (max-width: 900px){
  .modal-content {
    width: 85%;
  }
}

@media screen and (max-width: 599px){
  .modal-content {
    width: 94%;
  }
}

#project-snippet{
  font-family: "Open Sans Bold", sans-serif;
}

#project-list li {
  margin: 2vh 7.5vw;
  font-size: .9rem;
  font-family: "Open Sans Light", sans-serif;
}

.flex-modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0 2em 0;
}

.modal-body button {
  background-color: #39342D;
  color: white;
  border: 0;
  padding: .9rem 2.75rem;
  border: 1px solid #fefefe;
  font-size: .88rem;
  font-family: "Comfortaa", sans-serif;
}

.modal-body button:hover {
  background-color: rgba(226, 208, 187, 0.5);
  color: #39342D;
  border: 1px solid #39342D;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -10vh; opacity: 0}
  to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#filler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10vw 0 10vw;
}

.cms-line {
  margin-top: 2em;
  font-family: 'Open Sans Light', sans-serif;
  color: #39342D;
  text-align: center;
}

#filler svg {
  height: 1.3em;
}

#filler #shopify-logo:hover {
  fill: #96bd4e;
}

#filler #wp-logo:hover {
  fill: #0073aa;
}

#filler a {
  color: #39342D;
}

#contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

#contact-box a:hover {
  color: #4c66a8;
  transition: all 0.1s;
}

#contact-box form input:hover {
  background-color: #fff;
  border-color: #4c66a8;
  color: #4c66a8;
  transition: all 0.22s ease-out;
}

#contact-box form input {
  padding: .85em;
  background-color: #4c66a8;
  border: 1px solid #e2d0bb;
  color: white;
  font-family: "Open Sans Bold", sans-serif;
  font-size: .85em;
}

#footer {
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #e2d0bb;
  height: 3em;
  padding: 0 4vw;
}

#footer p {
  font-family: 'Comfortaa', monospace;
  color: #4c66a8;
  font-size: .9em;
}

.contact-icon {
  height: 1.75em;
  width: 1.75em;
}

.contact-icon:hover {
  opacity: .6;
}

@media screen and (max-width: 500px){
  #hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    text-align: center;
    text-shadow: 1px 1px 7px white;
  }
  .projects img {
    margin-bottom: -6px;
  }
  .contact-icon {
    height: 1.33em;
    width: 1.33em;
  }
}
