@font-face {
  font-family: 'Open Sans Light';
  src: url('fonts/open-sans-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-300.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url('fonts/open-sans-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-700.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}
@font-face {
  font-family: 'Comfortaa';
  src: url('fonts/comfortaa-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/comfortaa-regular.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}

@keyframes sunset {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(20px);
  }
}
@keyframes moonrise {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moonset {
  from {
    opacity: 1;
    transform: translateX(0px);
  }

  to {
    opacity: 0;
    transform: translateX(20px);
  }
}
@keyframes sunrise {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}


:root {
}

body {
  margin: 0;
  font-size: 20px;

  --primary-background-color: #e2d0bb;
  --primary-text-color: #39342D;
  --secondary-text-color: #4c66a8;
  --secondary-background-color: #ffffff;
  --modal-background-color: #fefefe;
  
}

.body-container {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);

  transition-duration: .3s;
  -webkit-transition-duration: .3s;
}

h1 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: normal;
  color: var(--primary-text-color);
  font-size: 3em;
  text-align:left;
  margin-bottom: 0;
}

#ipa {
  margin-top: 0;
  font-size: .8em;
}

h2 {
  text-align: left;
  font-family: 'Comfortaa', sans-serif;
  color: var(--primary-text-color);
  margin: 0;
  font-weight: 700;
}

.splash {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: var(--primary-background-color);
}
.splash-box {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30vw;
  height: 40vh;
  background-color: var(--secondary-background-color);
  padding: 7.5vw 6vw;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cms-line {
  font-family: 'Open Sans Light', sans-serif;
  color: var(--primary-text-color);
  text-align: left;
  line-height: 2;
}

#filler svg {
  height: 1.1em;
  fill: #96bd4e;
}

#filler #shopify-logo:hover {
  /* fill: #96bd4e; */
  transition: all .3s ease-out;
}

#filler #wp-logo #Layer_2:hover {
  fill: #0073aa;
}

#filler a {
  color: var(--primary-text-color);
}

.pic-and-quote {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.pic-and-quote img {
  width: 25vw;
  height: 23.575vw; /* make sure border-radius: 50% runs fine + fix safari bug*/
  border-radius: 50%;
  margin: 5vh 0 0 -17.5vw;
  z-index: 2;
}

.pic-and-quote quote {
  margin-top: 8vh;
  max-width: 25vw;
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  font-style: italic;
  font-size: .8em;
  line-height: 1.75;
  animation-name: fadeIn;
  animation-duration: 2s;
}
.pic-and-quote code {
  background-color: var(--primary-text-color);
  color: var(--secondary-background-color);
  padding: .15em;
}


/*--- Side Bar ---*/
.splash .floating-side-menu {
  width: 10vw;
  background-color: var(--secondary-text-color);
  height: 90vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Night Mode */
.night-mode-icon {
  height: 10vh;
  margin-top: 3vh;
  padding-left: 0;
  animation-name: fadeIn;
  animation-duration: 2.2s;
  /* animation-duration: 0.2s; */
  animation-timing-function: ease-in;
}
.night-mode-icon:hover {
  cursor: pointer;
}
body.night-time {
  --primary-background-color: #2F3F69;
  --primary-text-color: #f5f5f5;
  --secondary-background-color: #182036;
  --modal-background-color: #3B414F;
  --secondary-text-color: #e6e0e4;

  transition: all .2s ease-in;
}

/* End of Night Mode */

.vertical-menu-items {
  height:50vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 0; /* Remove inherited default <ul> styling */
}
.vertical-menu-items li {
  list-style-type: none;
}
#day-moon {
  width:3.5em;
}
/*--- End of Side Bar ---*/

p {
  text-align: center;
  font-family: "Open Sans Light", sans-serif;
  color: var(--primary-text-color);
}

.projects-title-bar {
  background-color: var(--primary-background-color);
  padding:2rem;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  grid-gap: 0.75em;
  max-height: 69vw;
  background-image: linear-gradient(var(--primary-background-color),
  var(--secondary-background-color));
  padding: 1.5em;
}

.projects img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.projectLink {
  height: 100%;
}
.projects img:hover {
  opacity: 1;
  transition: all 0.2s ease-out;
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

/*--- Modal ---*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(31,31,31); /* Fallback color */
  background-color: rgba(31,31,31,0.75); /* Black w/ opacity */
}
#modal-header {
  padding: 2px 16px;
}
#project-title {
  font-family: 'Open Sans Bold', sans-serif;
  color: var(--secondary-text-color);
  text-align: center;
  margin: 1.2em;
  font-size: 1.5rem;
}
.modal-body {
  padding: 2px 16px;
  font-family: "Open Sans Light", sans-serif;
  background-color: var(--secondary-background-color);
}
.modal-content {
  position: relative;
  background-color: var(--modal-background-color);
  /* margin: 10vh auto 0 auto; */
  padding: 0;
  width: 66.6%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animateWidth;
  animation-duration: 0.22s;

  overflow-y: scroll;
  -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
  scrollbar-width: none; /* Hide scrollbar Firefox */
}
.modal-content::-webkit-scrollbar {
  display: none; /* Hide scrollbar on Webkit + Chromium */
}
#project-snippet{
  font-family: "Open Sans Bold", sans-serif;
}
#project-list li {
  margin: 2vh 7.5vw;
  font-size: .9rem;
  font-family: "Open Sans Light", sans-serif;
}
.flex-modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0 2em 0;
}
.modal-body button {
  background-color: var(--primary-text-color);
  color: var(--modal-background-color);
  border: 0;
  padding: .9rem 2.75rem;
  border: 1px solid var(--modal-background-color);
  font-size: .88rem;
  font-family: "Comfortaa", sans-serif;
  border-radius: 3px;
}
.modal-body button:hover {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  border: 1px solid var(--primary-text-color);
  transition-duration: 0.075s;
}
/*--- End of Modal ---*/

/*--- Animations ---*/
@keyframes animateWidth {
  0% {
    width: 55%;
    opacity: 0;
  }
  100% {
    width: 66.6%; 
    opacity: 1;
  }
}
.shake {
  animation: shake 0.4s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*--- End of Animations ---*/

/*--- Close Button ---*/
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 4em;
  background-color: var(--secondary-background-color);
}
#contact-box a:hover {
  color: var(--secondary-text-color);
  transition: all 0.1s;
}
#contact-box form input:hover {
  background-color: var(--secondary-background-color);
  border-color: var(--secondary-text-color);
  color: var(--secondary-text-color);
  transition: all 0.22s ease-out;
  cursor: pointer;
}
#contact-box form input {
  padding: .85em;
  background-color: var(--secondary-text-color);
  border: 1px solid transparent;
  color: var(--secondary-background-color);
  font-family: "Open Sans Bold", sans-serif;
  font-size: .85em;
  border-radius: 5px;
}
/*--- End of Close Button ---*/
/*--- Tooltip ---*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted var(--primary-text-color); /* Bottom dots */
}
.tooltiptext {
  display: none;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: var(--primary-text-color);
  color: var(--secondary-background-color);
  text-align: center;
  padding: 1em;
  border-radius: 6px;
  position: absolute;
  z-index: 2;
  bottom: 125%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--primary-text-color) transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  display: block;
}
/*--- End of Tooltip ---*/

footer {
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-background-color);
  height: 3em;
  padding: 0 4vw;
}
footer p {
  font-family: 'Comfortaa', monospace;
  color: var(--secondary-text-color);
  font-size: .9em;
}
.contact-icon {
  height: 1.75em;
  width: 1.75em;
}
.contact-icon:hover {
  opacity: .6;
}

@media screen and (max-width: 599px){
  .modal-content {
    width: 92%;
    height: 95%;
  }
  @keyframes animateWidth {
    0% {
      width: 75%;
      opacity: 0;
    }

    100% {
      width: 94%;
      opacity: 1;
    }
  }

}
@media screen and (min-width: 600px) and (max-width: 900px){
  .modal-content {
    width: 85%;
  }
  @keyframes animateWidth {
    0% {
      width: 60%;
      opacity: 0;
    }

    100% {
      width: 85%;
      opacity: 1;
    }
  }
}

@media screen and (max-width: 600px) {
  .projects {
    max-height: 150vw;
  }
  .projects img {
    /* width: 50vw; */
  }

}

@media all and (max-width: 800px){
  body {
    font-size: 17px;
  }
  h1 {
    font-size: 2.5em;
  }
  .splash {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
  }
  .splash .floating-side-menu {
    width: 100vw;
    height: 10vh;
    order: 1;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  .floating-side-menu .night-mode-icon {
    max-height: 7vh;
    max-width: 7vh;
    margin: 0 2vw 0 0;
  }
  .splash-box {
    width: 80vw;
    height: 100%;
    align-items: center;
    order: 2;
    padding: 6vh 5vw;
    margin: 5vw;
  }
  .pic-and-quote {
    order: 3;
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    align-self: stretch;
    margin-bottom: 5vh;
  }
  .pic-and-quote img {
    width: 33vw;
    height: 31vw; /* To keep image round */
    margin: 0; /* Clear position from desktop */
    align-self: flex-end; /* So it's below quote */
  }
  .pic-and-quote quote {
    margin: 0;
    max-width: 50vw;
    align-self: center; /* So it's above video/img */
  }
  .projects {
    grid-template-columns: 1fr 1fr;
    max-height: unset;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .projects {
    grid-template-columns: 1fr;
    width: 100
  }

  .projects img {
    margin-bottom: 1em;
    width: 100%;
  }

  .contact-icon {
    height: 1.33em;
    width: 1.33em;
  }

  .tooltip .tooltiptext {
    width: 150px;
  }

  /* fix profile pic styling too & move blue stripe */
}
@media all and (min-width: 1800px ){
  body {
    font-size: 1vw;
  }
}