h1 {
  font-family: 'Julius Sans One', sans-serif;
}

#quote {
  font-family: 'Cutive Mono', monospace;
  padding-bottom: 7vh;
}

.jumbotron {
  margin: 8vh;
  background-color: #F3FAFF;
}

#tweetButton {
  background-color: #1B93DD;
  color: white;
}

.fa-spinner {
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
