nav {
  opacity: .69;
}

.navbar button {
  margin-left: .75vw;
  margin-right: .75vw;
}

#Home {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, #B2D8E8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #B2D8E8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #B2D8E8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #B2D8E8); /* Standard syntax */
  background-size: cover ;
  min-height: 100vh;
}

#Home h1 {
  font-size: 4.5em;
  color: #4E352B;
  font-family: 'Special Elite', cursive;
  font-weight: 600;
  padding-top: 15vh;
}

#Home h6 {
  font-size: 1.9em;
  color: #624235;
  font-family: 'Amatic SC', cursive;
  font-weight: 500;
  visibility: hidden;
}

#Portfolio {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#B2D8E8,#479ACF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#B2D8E8, #479ACF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#B2D8E8, #479ACF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#B2D8E8, #479ACF); /* Standard syntax */
  background-size: cover;
  min-height: 100vh;
}

#Portfolio h2 {
  font-size: 3.6em;
  color:#3a2f2a;
  font-family: 'Amatic SC', cursive;
}

#projectGrid{
  display: flex;
  justify-content: center;
  align-items: center;
}

#weatherPic {
  width: 25%;
}

#quotePic {
  width: 25%;
}

.figure-caption {
  font-size: 1.2em;
  color: #ffffff;
  opacity: 0;
}

#Contact {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#479ACF, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#479ACF, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#479ACF, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#479ACF, white); /* Standard syntax */
  background-size: cover;
  min-height: 100vh;
}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#Contact div {
  padding-top: 13vh;
}

#Contact .btn {
  margin: 3.5vw;
  font-size: 1.25em;
  text-align: inherit;
}
